@import "normalize/import-now";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './common.scss';

@import '../components/auth/Register/Register.scss';
@import '../components/common/Header/style.scss';
@import '../components/common/Footer/style.scss';
