
.orders-table{
  margin-top: 10px;

  .table-row{
    &__status{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .decide{
    display: flex;
    align-items: center;
    justify-content: center;
    &__yes{
    }
    &__no{
      margin: 10px;
    }
  }

  &__block{
    display: flex;
    justify-content:space-between
  }

  &__search{
    min-width: 60%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 30px;
  }

  &__title{
    margin-top: 3px;
    font-size: 1.8rem;
  }


  &__dropdown {
    margin-top: 10px;
    padding-bottom: 30px;
    .show{
      margin-bottom: 50px;
    }
    button {
        width: 100%;
        background: none;
        color: #495057;
        border-color: #ced4da;
        text-align: left;
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            transform: translateX(50%);
            right: 20px;
        }
    }
}

  .status {
    min-width: 150px;
    border-radius: 60px;
    height: 40px;
    border: none;
    opacity: 90%;

    &.inProcessing{
      background-color: #9455E4;
    }

    &.sent{
      background-color: #0089CF;
    }

    &.received{
      background-color: #9CA8BA;
    }

    &.await{
      background-color: #FFA51D;
    }

    &.returning{
      background-color: #EE3F58;
    }

    &.returned{
      background-color: rgb(153, 114, 120);
    }
  }

  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      margin: auto 7px;
      a{
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
          background: #4387fca6;
          color: white;
        }
      }
    }
    li.active{
      a{
        background: #4386FC;
        color: white;
      }
    }
  }
}
